---
layout: page
title: "API endpoints"
permalink: "/endpoints/"
---

<h2>Authentication endpoint:</h2>
<ul>
  {% assign auth_endpoints = site.endpoints | where: "resource", "access_token" %}
  {% for endpoint in auth_endpoints %}
    <li>
      {% include endpoint_link.html endpoint=endpoint %}
    </li>
  {% endfor %}
</ul>

<h2>Activity endpoints:</h2>
<ul class="endpoint-list">
  {% assign activity_endpoints = site.endpoints | where: "resource", "activity" %}
  {% for endpoint in activity_endpoints %}
    <li>
      {% include endpoint_link.html endpoint=endpoint %}
    </li>  {% endfor %}
</ul>

<h2>Groups endpoints:</h2>
<ul class="endpoint-list">
  {% assign group_endpoints = site.endpoints | where: "resource", "group" %}
  {% for endpoint in group_endpoints %}
    <li>
      {% include endpoint_link.html endpoint=endpoint %}
    </li>  {% endfor %}
</ul>

<h2>Place endpoints:</h2>
<ul class="endpoint-list">
  {% assign place_endpoints = site.endpoints | where: "resource", "place" %}
  {% for endpoint in place_endpoints %}
    <li>
      {% include endpoint_link.html endpoint=endpoint %}
    </li>  {% endfor %}
</ul>

<h2>Timetable endpoints:</h2>
<ul class="endpoint-list">
  {% assign group_endpoints = site.endpoints | where: "resource", "timetable" %}
  {% for endpoint in group_endpoints %}
    <li>
      {% include endpoint_link.html endpoint=endpoint %}
    </li>  {% endfor %}
</ul>

<h2>Tutor endpoints:</h2>
<ul class="endpoint-list">
  {% assign tutor_endpoints = site.endpoints | where: "resource", "tutor" %}
  {% for endpoint in tutor_endpoints %}
    <li>
      {% include endpoint_link.html endpoint=endpoint %}
    </li>  {% endfor %}
</ul>