---
layout: page
title: "Resources"
permalink: "/resources/"
---

<ul class="resource-list">
  {% for resource in site.resources %}
    <li>
      <a class="resource-link" href="{{ resource.url | prepend: site.baseurl }}">{{ resource.name }}</a>
    </li>
  {% endfor %}
</ul>
