<a class="endpoint-link" href="{{ endpoint.url | prepend: site.baseurl }}"><span class="endpoint-method">{{ include.endpoint.method }}</span> {{ site.api.baseurl }}{{ include.endpoint.request_path }}</a>
