---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title"><span class="endpoint-method">{{ page.method }}</span> <span class="endpoint-link">{{ site.api.baseurl }}{{ page.request_path }}</span></h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  {% if page.parameters %}
  <div class="endpoint-fields">
    <section>
      <header>
        <h2>Parameters</h2>
      </header>
      <table>
        <tr>
          <th>Name</th><th>Description</th><th>Type</th>
        </tr>
        {% for field in page.parameters %}
        <tr>
          <td>{{ field.name }} {% if field.required%}<em>required</em>{% endif %}</td><td>{{ field.description }}</td><td>{{ field.type }}</td>
        </tr>
        {% endfor %}
      </table>
    </section>
  </div>
  {% endif %}
  {% if page.permissions %}
  <div class="endpoint-permissions">
    <section>
      <header>
        <h2>Permissions</h2>
      </header>
      <ul>
      {% for permission in page.permissions %}
        <li>{{ permission }}</li>
      {% endfor %}
      </ul>
    </section>
  </div>
  {% endif %}
  {% if page.request_examples %}
  <div class="endpoit-examples">
    <section>
      <header>
        <h2>Examples</h2>
      </header>
      {% for example in page.request_examples %}
      <h3>Request</h3>
      {% if example.description %}
        <p>{{ example.description }}</p>
      {% endif %}
      <pre>{{ page.method }} {{ site.api.rooturl }}{{ site.api.baseurl }}{% if example.url %}{{ example.url }}{% else %}{{ page.request_path }}{% endif %} {% if example.parameters %}<br/>{{ example.parameters | jsonify }}{% endif %}</pre>
      <h3>Response</h3>
      <pre>{{ example.response | pretty_json }}</pre>
      {% endfor %}
    </section>
  </div>
  {% endif %}

</article>