---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.name }}</h1>
  </header>

  <article class="post-content">

    <p>
      <h3>Fields</h3>
      <table>
    	  <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Specification</th>
            <th>Description</th>
          </tr>
    	  </thead>
        <tbody>
          {% for field in page.fields %}
          <tr>
          	<td>
              <strong>{{ field.name }}</strong><br/>
              {% if field.deprecated %}
                <em>deprecated</em>
              {% endif %}
            </td>
            <td>{{ field.type }}</td>
            <td>{{ field.specification }}</td>
            <td>{{ field.description | liquify }}</td>
          </tr>
          {% endfor %}
        <tbody>
      </table>
    </p>

    {% for enum in page.enums %}
      <p>
        <h4 id="enum-{{ enum.field | slugify }}">{{ enum.title }}</h4>
        <table>
          <tr>
            <th>{{ enum.labels.key }}</th><th>{{ enum.labels.value }}</th>
          </tr>
          {% for element in enum.elements %}
            <tr> 
              <td>{{ element.key }}{% if element.default %} (default){% endif %}</td>
              <td>{{ element.value }}</td>
            </tr>
          {% endfor %}
        </table>
      </p>
    {% endfor %}

    <p>
      {{ page.example_import | liquify }}
      <h3>Object examples</h3>
      {% for example in page.examples %}
        <pre>{{ example | pretty_json }}</pre>
      {% endfor %}
    </p>

    {{ content }}

  </article>

</div>